/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="select"] {
    max-width: 280px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }
    .body-content {
        padding: 0;
    }
}

.div-margin
{
    margin-top: 8px;
}

.div-margin-left {
    margin-left: 10px
}

.customHr {
    width: 95%;
    font-size: 5px;
    color: rgba(0, 0, 0, 0);
    line-height: 5px;

    background-color: grey;
    margin-top: -6px;
    margin-bottom: 10px;
}

.uName
 {
    display: block;
    font-size: .67em;
    margin-top: 1em;
    margin-bottom: 2.33em;
    margin-left: 105px;
    margin-right: 235px;
    font-weight: bold;    
}

.tip {
  width: 0px;
  height: 0px;
  position: absolute;
  background: transparent;
  border: 10px solid #ccc;
}
 .tip-up {
  top: -25px; /* Same as body margin top + border */
  left: 0px;
  border-right-color: transparent;
  border-left-color: transparent;
  border-top-color: transparent;
}
 .tip-down {
  bottom: -25px;
  left: 10px;
  border-right-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;  
}

.tip-left {
  top: 10px;
  left: -25px;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;  
}

.tip-right {
  top: 10px;
  right: -25px;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;  
}

.dialogbox .body {
  position: relative;
  max-width: 300px;
  height: auto;
  margin: 20px 10px;
  padding: 5px;
  background-color: #DADADA;
  border-radius: 3px;
  border: 5px solid #ccc;
}

.body .message {
  min-height: 30px;
  border-radius: 3px;
  font-family: Arial;
  font-size: 14px;
  line-height: 1.5;
  color: #797979;
}

.left {
    float: left;
    width: 300px;
    padding-left: 25px;
}

.margincenter{
    width: 100px;
    margin: auto;
}

.descript {
    margin: auto;
    width: 100px;
    margin-left: 340px;
    margin-right: 235px;
}

